/*  
 JFSD Assessment 02 - HTML, CSS
 Author : Chew KB 
 Date   : 20/04/2022 
 */ 

/* section 2 */
.s2 {
    display:flex;
    align-items: center;
    justify-content: center;  
     background-color: white;
}
 
.s2_left {
    flex-basis: 60%;
    margin: 24px;
 
}

.s2_left img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;  
}

.s2_left h2, .s2_left h6{
    font-weight: bold;
    padding:0;
}

.s2_left section {
    padding-top : 32px;
    padding-bottom:32px;
}
 
.s2_left p {
    padding: 24px 0 24px 0;
}

.s2_right {
    display:flex;
    align-items:flex-start;
    justify-content:left; 
    flex-direction: column;   
    margin : 32px 24px 32px 24px;  
 
}
 
.s2_card {
    display:flex;
    align-items:center ;
    justify-content:flex-start; 
    width:100%;
    padding: 16px;  
}

.s2_card img {
   width:35%;
   height: auto;

   display: block;
   object-fit: cover;
}

 
.s2_card   a {
    text-decoration: none;
     
    color:blue;
    text-align:center;
    padding:16px;  
 }
 
 .s2_highlight {
     background-color : grey;
 }

 .s2_card section {
    padding-left:16px;
 }

 
 

 



